airad_06_02/src/main/webapp/WEB-INF/config/validator/validate-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--W3C Schema generated by XMLSpy v2009 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="patternValidator">
		<xs:complexType>
			<xs:attribute name="pattern" type="xs:string" use="required" />
			<xs:attribute name="name" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="patternValidatorList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="patternValidator" maxOccurs="unbounded"
					minOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="customValidator">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="className" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="customValidatorList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="customValidator" minOccurs="1"
					maxOccurs="unbounded">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="validators">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="patternValidatorList" minOccurs="1" maxOccurs="1"></xs:element>
				<xs:element ref="customValidatorList" minOccurs="0" maxOccurs="1"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
